:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--tertiary-color);
}

section {
  padding: 60px;
}

.primary-border {
  border-color: var(--primary-color);
}

.secondary-color {
  border-color: var(--tertiary-color);
}

.section-title {
  font-size: 55px;
  color: var(--secondary-color);
  margin-bottom: 35px;
  padding: 0px 100px 20px 100px;
  display: inline-block;
  border-bottom: 3px solid;
}

/* BEGINNING OF HEADER STYLES */

header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  display: inline;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

/* END OF HEADER STYLES */

/* BEGINNING OF HERO STYLES */

.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 600px;
}

.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-form {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 500px;
  padding: 20px;
  border: solid 3px var(--secondary-color);
  position: absolute;
  bottom: 120px;
  right: 140px;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.hero-form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
}

.hero-form label {
  margin: 0;
}

.hero-form button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}

/* END OF HERO STYLES */

/* BEGINNING OF "WHAT WE DO" SECTION STYLES */

.intro {
  text-align: center;
}

.intro p {
  line-height: 1.7;
  color: var(--tertiary-color);
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

/* END OF "WHAT WE DO" SECTION STYLES */

/* BEGINNING OF "WHAT YOU DO" STYLES */

.steps {
  text-align: center;
  background: var(--primary-color);
}

.steps div {
  margin-bottom: 80px;
}

.steps img {
  width: 15%;
  margin: 10px 0;
}

.steps h3 {
  color: var(--secondary-color);
  font-size: 46px;
  margin-top: 10px;
}

.steps p {
  color: var(--tertiary-color);
  font-size: 23px;
}

.steps {
  font-size: 38px;
}

/* END OF "WHAT YOU DO" STYLES */

/* BEGINNING OF "MEET THE TRAINERS" SECTION */

.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trainer {
  margin: 20px;
  flex: 1;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.trainer-bio {
  padding: 25px;
  line-height: 1.3;
}

.trainer-bio h3 {
  font-size: 28px;
  display: none;
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
  display: none;
}

.trainer-bio p {
  font-size: 17px;
}

.trainer-1 {
  background-image: url("../images/trainer-1.jpg");
}

.trainer-2 {
  background-image: url("../images/trainer-2.jpg");
}

.trainer-3 {
  background-image: url("../images/trainer-3.jpg");
}

.trainer-img {
  width: 100%;
  min-height: 300px;
  background-size: cover;
  display: flex;
  padding: 15px;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.trainer:hover .trainer-img::after {
  opacity: 1;
}

.trainer-img::after {
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(252, 225, 56, 0.3), var(--secondary-color));
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.trainer-img h3 {
  position: relative;
  z-index: 1;
  font-size: 28px;
  margin-bottom: 5px;
  top: 200px;
  transition: 0.6s;
}

.trainer-img h4 {
  position: relative;
  z-index: 1;
  font-size: 22px;
  top: 200px;
  transition: 0.6s;
  transition-delay: .2s;
}

.trainer:hover .trainer-img h3, .trainer:hover .trainer-img h4 {
  top: 0;
}

/* END OF "MEET THE TRAINERS" SECTION */

/* BEGINNING OF SERVICE STYLES */

.service {
  text-align: center;
  background: var(--primary-color);
}

.services {
  background: var(--primary-color);
}

.service-grid-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.service-grid-container {
  background: lightyellow;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr repeat(2, 4fr);
  grid-template-rows: repeat(5, 1fr) 2fr;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: 1.2rem;
}

.service-grid-item {
  padding:15px 0;
  border: 2px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.service-grid-item.basic {
  grid-column: 2/span 1;
}

.service-grid-item.both {
  grid-column: 2 / span 2;
}

.service-grid-item.cancel {
  writing-mode: vertical-lr;
  grid-column: 1;
  grid-row: 1/-1;
  transform: rotate(180deg);
}

.grid-head, .grid-price, .service-grid-item.cancel {
  font-size: 1.5rem;
  font-weight: bold;
}

/* END OF SERVICE STYLES */

/* BEGINNING OF "REACH OUT" SECTION */

.contact {
  text-align: center;
  background: var(--secondary-color);
}

.contact h2 {
  color: var(--primary-color);
}

.contact-info iframe {
  width: 400px;
  height: 400px;
}

.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
  color: white;
}

.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
}

.contact-info a {
  color: var(--primary-color);
}

/* END OF "REACH OUT" SECTION */

/* BEGINNING OF FOOTER STYLES */

footer {
  background: var(--primary-color);
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  display: inline;
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--secondary-color);
}

/* END OF FOOTER STYLES */
